<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
      App Check (Debug Provider)
      Your debug token is registered in Firebase Console and is used only for debug builds.
    -->
    <application>
        <meta-data
            android:name="com.google.firebase.appcheck.debug_token"
            android:value="42C48404-1445-4A9D-8F62-CAD28CBFEC89" />
    </application>
</manifest>
